/* Fundo */

.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    font-size: 1vw;
    background: linear-gradient(120deg, #9fceee, #5791ca);
    width: 60%;
    border-radius: 1.5vw;
    margin-top: 6vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef5f9;
}
.seus_agendamentos{
    display:block;
}
.agenda{
    display: none;
}

/* Layout do agendamento */

.agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
}

/* Seção de agendamentos */

.seus_agendamentos {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5vw;
    border-radius: 0.08vw;
    display: block;
}

.seus_agendamentos h2 {
    font-size: 2.2vw;
    margin-top: 1vw;
    color: #fff;
    text-align: center;
}

.seus_agendamentos table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.seus_agendamentos th {
    background-color: #004080;
    color: white;
    font-weight: bold;
    padding: 1vw;
    text-align: center;
}

.seus_agendamentos td {
    padding: 1vw;
    font-size: 1vw;
    text-align: center;
    color: #333;
    border-bottom: 0.1vw solid #ddd;
    word-wrap: break-word; 
    white-space: normal;
    max-width: 200px;
}


.seus_agendamentos td:last-child {
    font-weight: bold;
    color: #006400;
}

/* Botão de agendar */
.btn.agendar, .botao-agendar {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 1vw 3vw;
    font-size: 1.2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}

.btn.agendar:hover, .botao-agendar:hover {
    background-color: #0056b3;
}

/* Título - segunda parte*/
.titulo_agen {
    font-size: 2.5vw;
    text-align: center;
    margin-top: 3vw;
    color: #333;
}
/* Campos do formulário */
.agenda.form input,
.agenda.form select,
.agenda.form textarea {
    width: calc(100% - 2vw);
    margin-bottom: 1.5vw;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    font-size: 1.2vw;
}


/* Caixa centralizada */
.box-3 {
    text-align: center;
}

/* Textarea */
textarea.des {
    height: 8vw;
    resize: none;
}

/* Footer */
footer {
    position: relative;
    margin-top: 2vw;
}

#backToTop, #backToTopText {
    display: none;
}



/* Nenhum agendamento */
.no-agendamentos {
    text-align: center;
    color: #666;
    padding: 2vw;
    font-style: italic;
}

.no-agendamentos img {
    width: 10vw;
    margin-bottom: 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.no-agendamentos p {
    font-weight: bold;
    font-size: 1.8vw;
    margin: 1vw 0;
    color: #333;
}

.no-agendamentos span {
    display: block;
    margin-bottom: 1.4vw;
    color: #888;
}
/* Botão Voltar */
.voltar {
    font-size: 1.2vw;
    margin: 1vw 0;
    color: #007BFF;
    cursor: pointer;
    position: relative;
}

.voltar:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 900px) {
    .fundo{
       width: 100%;
   
    }
    /* Primeira Parte */
    .seus_agendamentos h2 {
        font-size: 10vw;
        margin-top: 1vw;
        color: #fff;
        text-align: center;
    }
    .seus_agendamentos td {
        padding: 1vw;
        font-size: 3vw;
        text-align: center;
        color: #333;
        border-bottom: 0.1vw solid #ddd;
    }
    .seus_agendamentos th{
        font-size: 3vw;
    }
    
    .btn.agendar, .botao-agendar {
        font-size: 6vw;
        border-radius: 2vw;
    }
    /* Segunda Parte */
    .voltar {
        font-size: 4vw;
        margin: 1vw 0;
        color: #007BFF;
        cursor: pointer;
        position: relative;
    }
    .titulo_agen {
        font-size: 6vw;
        text-align: center;
        margin-top: 3vw;
        color: #333;
    }
    .agenda.form input,
    .agenda.form select,
    .agenda.form textarea {
        font-size: 3.5vw;
    }
    textarea.des {
        height: 6rem;
    }
    /* Sem Agendamentos */
    .no-agendamentos img {
        width: 15rem;
        margin-bottom: 1.5vw;
        border-radius: 0.5vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .no-agendamentos p {
        font-weight: bold;
        font-size: 5vw;
        margin: 1vw 0;
        color: #333;
    }
   }