  /*Header acima*/
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
   overflow-y:scroll;
}
*{
    max-width: 101vw;
    margin: 0 ;
    padding: 0;
    font-family: "Schibsted Grotesk", sans-serif;
}
html, body {
    height: 100%; /* Define 100% de altura para a tela */
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.781);
    width: 95vw;
    height: 7vw;
    box-shadow: 0 0 0.01vw 0 rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 2vw;
    left: 2vw;
    right: 0;
    z-index: 1000;
    transition: 0.5s ease;
    border-radius: 0.5vw;
}

header.scrolled {
    background-color: rgb(255, 255, 255); /* Menu opaco ao rolar */
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1); /* Sombra adicionada ao rolar */
    border-bottom: #333 solid 0.1vw;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}

.opç {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
    
.logando{
    position: absolute;
    right: 6vw;
}
.home{
    margin-left: 0vw;
}
li {
    position: relative;
    float: left;
    margin-left: 2vw;
}

li a {
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-left: 2vw;
    font-size: 1.5vw;
}

.options {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.342);
    min-width: 12.25vw;
    box-shadow: 0 0.03vw 0.07vw rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5vw;
}

.options a {
    color: rgb(255, 255, 255);
    margin-top: 1vw;
    text-decoration: none;
    margin-bottom: 1vw;
}

li.dropdown:hover .options {
    display: block;
}

header a {
    color: rgb(15, 15, 15);
    margin-top: 2.5vw;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: rgb(58, 94, 141);
}

/* Parte de deslogar e usuario */

.usuario-container {
    position: relative;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    text-align: center;
    cursor: pointer;
}

/* Nome do usuário */
.usuario-nome {
    font-size: 1.5vw; /* Texto responsivo */
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 1vw 2vw; /* Espaçamento dinâmico */
    border-radius: 2vw; /* Bordas arredondadas */
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2); /* Sombra adaptativa */
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: 1vw;
}

.usuario-nome:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

/* Formulário de logout */
.sair-form {
    display: none;
    position: absolute;
    top: 100%; /* Aparece abaixo do nome */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vw;
    z-index: 10;
}

/* Botão "Sair" */
.sair {
    font-size: 1vw;
    font-weight: bold;
    color: white;
    background-color: #dc3545;
    border: none;
    padding: 0.8vw 1.6vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    right: 1.2vw;
    top: 2.5vw;
}

.sair:hover {
    background-color: #c82333;
    box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.3); /* Sombra proporcional */
}

/* Exibir o botão ao passar o mouse */
.usuario-container:hover .sair-form {
    display: block;
}

svg {
    width: 3vw;
    height: 22vw;
    top: -7.5vw;
    position: absolute;
    left: 13vw;
}

/* Fim do logar */
/* Caso você queira usar, mas claro, pode reformular eles se quiser */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hamburger span {
    width: 5vw;
    height: 0.5vw;
    background: #fff;
    margin: 0.5vw;
    transition: 0.3s;
}


/* Menu padrão (desktop) */
.menu {
    display: flex;
    flex-direction: row;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 1.5vw;
}

.dropdown .options {
    display: none;
}

/* Seta */
#backToTop {
    width: 4vw; 
    height: 5vw; 
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3vw; 
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none; 
}



#backToTopText {
    display: block;
    color: #000000;
    font-size: 1vw;
    margin-top: 0vw;
}

#backToTopContainer {
    position: fixed;
    top: 47vw; 
    right: 10vw;
    text-align: center;
    z-index: 1000;
    display: none;
}


/* Footer */

footer {
    width: 2vw;
    height: 20vw;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
}

.espac {
    width: auto;
    height: 1vw;
}

.geral {
    margin-top: 1vw;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 0.2vw;
    font-size: 3vw;
    color: white;
}

.geralapp {
    display: flex;
    margin-top: 0.15vw;
}

.app {
    display: flex;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 0.2vw;
}

i {
    font-size: 1vw;
}

.escrit {
    margin-right: 0.1vw;
    cursor: pointer;
    color: white;
    font-size: 1vw;
}

.direitos {
    margin-top: 0.18vw;
    font-size: 1vw;
    color: rgb(255, 255, 255);
}

.line {
    width: auto;
    height: 0.03vw;
    background-color: rgba(255, 255, 255, 0.875);
    margin-top: 0.05vw;
    margin-bottom: 0.01vw;
}

.vertical {
    width: 0.5vw;
    height: 11vw;
    background-color: rgba(255, 255, 255, 0.875);
    margin-top: 2.5vw;
}
.header{
    background-color: rgba(0, 0, 0, 0.875);
    width: 0.25vw;
    height: 5vw;
    margin-top: 1vw;
    margin-left: 5vw;
}
.segunda{
    margin-right: -0.2vw;
}
.logo_img{
    height: 5vw;
    border-radius: 4vw;
    position: absolute;
    margin-top: -1.5vw;
    left: 5vw;
}
.logo_img:hover{
    cursor: pointer;
}
.logo{
    position: absolute;
    left: 20vw;
}
iframe {
    width: 30vw;
    bottom: 0;
    height: 15vw;
    margin-right: 2vw;
}

/* Animação chegando de lado */
.animacao_esquerda {
    position: relative;
    left: -30vw;  /* Começa fora da tela */
    opacity: 0;    /* Começa invisível */
    transition: left 1.5s ease, opacity 1s ease;
}

.animacao_esquerda.show {
    left: 0vw;  /* Quando a classe 'show' for adicionada, o item vai aparecer */
    opacity: 1;
}

/* Animação de surgimento */

.surgimento {
    opacity: 0;
    transform: scale(0.8);  /* Começa ligeiramente reduzido */
    transition: opacity 1.5s ease, transform 1.5s ease; /* Anima opacidade e escala */
}

.surgimento.visivel {
    opacity: 1;
    transform: scale(1);  /* Volta ao tamanho original */
}





/* Exibir o ícone de hambúrguer apenas em telas menores */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-top: 1.5vw;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 7vw;
        right: -2;
        width: 120%;
        height: calc(100vh);
        z-index: 999;
        transition: all 0.3s ease-in-out;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li, .home , .agend , .servicos {
        margin: 4vw 0;
        font-size: 7vw;  
  }
  .options {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 12.25vw;
    box-shadow: 0 0.03vw 0.07vw rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5vw;
    margin-top: -2vw;
}

.options a {
    color: rgb(255, 255, 255);
    
    text-decoration: none;
    margin-bottom: 1vw;
    font-size: 6vw;
}
svg{
    left: -49vw;
    top: 5vw;
    width: 100vw;
}

/* Nome do usuário */
.usuario-nome {
    font-size: 8vw; 
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 3vw 6vw; 
    border-radius: 6vw; 
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: -23vw;
}

.usuario-nome:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

/* Formulário de logout */
.sair-form {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vw;
    z-index: 10;
}

/* Botão "Sair" */
.sair {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    background-color: #dc3545;
    border: none;
    padding: 2vw 5vw;
    border-radius: 6vw;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    right: -10vw;
    top: 25vw;
}

.sair:hover {
    background-color: #c82333;
    box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.3); 
}

.menu.show {
    display: flex;
}

.hamburger span {
    background: #000; /* Ícone do hambúrguer visível */
}

}
