/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.dashboard-container {
    position: relative;
    max-width: 100vw; /* Limite de largura */
    margin: 2vw auto; /* Centralizar */
    padding: 2vw; /* Espaçamento interno */
    background-color: #ffffff;
    border-radius: 0.5vw; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    top: 10vw;
    flex: 1;
}

/* Formulário de filtros */
.filter-form {
    width: 80vw;
    margin: 2vw auto;
    padding: 2vw;
    border-radius: 1vw;
}

.filter-form .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.filter-form .form-group > div {
    flex: 1 1 calc(33.33% - 2vw);
    min-width: 20vw;
}

.filter-form label {
    display: block;
    margin-bottom: 0.5vw;
    font-weight: bold;
    font-size: 1.2vw;
}

.filter-form input,
.filter-form select {
    width: 90%;
    padding: 1.2vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    font-size: 1.2vw;
}

.filter-form .form-actions {
    margin-top: 2vw;
    text-align: center;
}

.filter-form .form-actions button,
.filter-form .form-actions a {
    padding: 1.2vw 2.5vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2vw;
}

.filter-form .form-actions button {
    background-color: #007BFF;
    color: white;
}

.filter-form .form-actions a {
    background-color: #6c757d;
    color: white;
    margin-left: 1vw;
}

.dashboard-container h1 {
    text-align: center;
    font-size: 2.5vw;
    color: #333;
    margin-bottom: 2vw;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 1.5vw;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    font-size: 1.8vw;
}

td {
    font-size: 1.5vw;
}

th, td {
    min-width: 150px;
    max-width: 400px;
}

.dashboard-container form button {
    padding: 0.6vw 1.5vw;
    font-size: 1.8vw;
    color: white;
    background-color: #46c4d5;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 12vw;
    margin-top: 1vw;
}

.dashboard-container form button:hover {
    background-color: #238794;
}

.dashboard-container form {
    display: inline;
    margin-right: 1vw;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 20vh;
}
@media (max-width: 900px) {
    .filter-form label {
        font-size: 1.2rem;
    }
    .filter-form input,
    .filter-form select {
    font-size: 1.2rem;
    }
    .filter-form .form-actions button,
    .filter-form .form-actions a {
    padding: 1.6vw 2.8vw;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    }
    .dashboard-container h1 {
        text-align: center;
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 2vw;
    }
    
    .dashboard-container {
        max-width: 100vw;
        padding: 4vw;
    }

    th, td {
        font-size: 1rem;
        padding: 2vw;
    }
    .dashboard-container form button {
        font-size: 0.9rem;
        color: white;
        background-color: #46c4d5;
        border: none;
        border-radius: 0.5vw;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 6rem;
        margin-top: 1vw;
    }


@media (max-width: 600px) {
    .dashboard-container {
        max-width: 100%;
        padding: 6vw;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    th, td {
        display: block;
        width: 100%;
        text-align: left;
    }

    th {
        background-color: #0056b3;
    }
}
